.nav-item :hover {
  border-bottom: 3px solid green;
}

.nav-item :active {
  border-bottom: 3px solid green;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  margin-top: 20px;
  /* padding: 20px; */
  text-align: center;

}

.card-img-top{
  width: 488px;
  height: 189px;
}
.nav-elements.active{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

/* .active {
  border-bottom: 3px solid green;
} */
